<h1>Log in</h1>
<p>New to blogging? <%= link_to 'Create an account', register_path %></p>
<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
<%= form_for(:session, url: login_path) do |f| %>

<%= f.email_field :email, placeholder: 'Email', required: true %><br>
<%= f.password_field :password, placeholder: 'Password', required: true %><br>

<%= f.submit 'Log in' %>

<% end %>

<%= link_to 'Login with Facebook', 'http://localhost:3000/auth/facebook' %>
