<h4 style="color: #858585;"><%= @company.name %></h4>
<h1><%= @dept.name %> Department</h1>
<h3><span id="emp-count"><%= @dept.employees.count %></span> employees</h3>
<% @dept.employees.each do |e| %>
  <p><%= e.full_name %> - #<%= e.eid %> --- <%= link_to 'Terminate', company_employee_terminate_path(e.company_id, e.id), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'terminate' %></p>
<% end %>
